body{
  margin:0;
  background-color: #efefef;
}

header {
  font-size: 20px;
  background-color: black;
  color: #cccccc;
  height: 75px;
}

#topbar{
  width:75%;
  margin-left: auto ;
    margin-right: auto ;
}
nav {
  float: right;
}
nav li{
  display: inline;
  padding-right: 30px;
}
.logo {
  float:left;
  color: orange;
  font-size:30px;
  padding-left:20px;
  padding-top:20px;
}

.box{
  margin-top: 20px;
  width:75%;
  margin-left: auto ;
    margin-right: auto ;
    height: 400px;
}

.blog-post{
  margin-top:20px;
  float:left;
}
.blog-heading{
  font-size: 36px;
  margin-bottom:20px;
}
.sidebar{
  float:right;
}
